html {
  background-color: #5946b2;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
a {
  color: #ebb42c;
  font-family: "Cormorant", serif;
  font-size: 2em;
  text-align: center;
  letter-spacing: 0.15em;
  text-decoration: none;
  flex-wrap: nowrap;
}
a {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 2em;
}

a:hover {
  background-color: #ebb42c;
  color: #5946b2;
  border: grey 3px outset;
  transition: background-color 0.4s ease-out;
}

header {
  background-image: url(./lib/strongDarkMirrorsDumbells.jpg);
  background-size: cover;
  height: 100vh;
  max-width: 100vw;
}

#pic1 {
  background-image: url(./lib/Meditation.jpg);
  height: 25vh;
  width: 25vw;
  background-size: cover;
}

#pic2 {
  background-image: url(./lib/aptComplexGym.jpg);
  height: 25vh;
  width: 25vw;
  background-size: cover;
}

#pic3 {
  background-image: url(./lib/partnerWorkoutSitups.jpg);
  height: 25vh;
  width: 25vw;
  background-size: cover;
}

#pic4 {
  background-image: url(./lib/dumbellManChestPressB&W.jpg);
  height: 25vh;
  width: 25vw;
  background-size: cover;
}

.aboutBox {
  flex-wrap: wrap;
  flex-direction: column;
}

.homepage {
  margin-bottom: 20%;
}

#mapBox {
  height: 500px;
  width: auto;
}

.marker {
  background-image: url("./lib/fitnessCenterPNGNoEdit.png");
  background-size: cover;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Proza Libre", sans-serif;
}

.search {
  width: 100vw;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 50%;
  border: 3px solid #ebb42c;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #5946b2;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #ebb42c;
  background: #ebb42c;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change*/
.wrap {
  width: 100vw;
  position: relative;
  transform: translate(10%, 10%);
  padding-top: 50px;
  padding-left: 20%;
}

p,
label,
#fs-frm {
  font-family: "Proza Libre", sans-serif;
  color: #ebb42c;
  /* margin-left: 10px; */
  /* padding: 10vw; */
  font-size: 1.2em;
  letter-spacing: 0.2em;
  line-height: 1.3em;
  font-weight: bolder;
  flex-wrap: nowrap;
}

button {
  background-color: #4e30a1;
  border-radius: 5px;
  box-shadow: rgb(90, 90, 90);
  padding: 10px;
  font-family: "Proza Libre", sans-serif;
  color: #ebb42c;
  font-size: 1.2em;
}

#searchbar {
  margin-left: 15%;
  padding: 15px;
  border-radius: 10px;
}

input[type="text"] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

/* input[type="text"]:focus {
  width: 70%;
} */

#list {
  font-size: 1.5em;
  margin-left: 90px;
}

.boxTitles,
.topOfPage,
footer {
  background-color: rgba(146, 146, 146, 0.52);
  padding: 2em;
  box-shadow: 10px rgb(90, 90, 90);
}

.whatIsBlock {
  border: 5px solid rgba(146, 146, 146, 0.52);
  border-radius: 20px;
  box-shadow: 10px rgb(90, 90, 90);
  justify-content: center;
  align-self: flex-start;
}

.fa-bars {
  color: #ebb42c;
  font-size: 2em;
  background-color: transparent;
  border: outset 2px grey;
  padding: 5px;
}

.signupButton {
  justify-content: center;
  align-self: flex-end;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1;
  grid-row: 1;
}
.two {
  grid-column: 2;
  grid-row: 2;
}
.three {
  grid-column: 3;
  grid-row: 1;
}

.four {
  grid-column: 1 / 3;
}

.five {
  grid-column: 2;
  grid-row: 3;
}

/* #results {
} */

nav > ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0;
}

nav > ul > li {
  display: inline-block;
  flex-direction: column;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}

nav .fa-bars {
  display: none;
}

.signUpForm {
  margin-left: 10%;
}

.preferences {
  margin-left: 0%;
}

#optIn {
  text-align: center;
}

@media (max-width: 975px) {
  nav ul {
    display: none;
  }

  nav > ul > li {
    display: flex;
    flex-direction: column;
  }

  .hidden-mobile {
    display: block;
  }

  nav .fa-bars {
    display: block;
    color: #ebb42c;
    font-size: 2em;
    background-color: transparent;
    border: 2px grey;
    padding: 5px;
  }

  nav {
    display: flex;
    flex-direction: column;
  }

  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  body {
    font-family: "Proza Libre", sans-serif;
    line-height: 1.25;
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
